[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

requests = "*"
gunicorn = "==19.4.5"
hug = "==2.3.2"
nexmo = "==2.0.0"
python-jose = "==1.4.0"
